- unless @activities.empty?
  .cards
    %h2= @activities[0]["category"]
    - @activities.each do |activity|
      - unless DateTime.now > Date.parse(activity["date"])
        .card.user-activity{ id: "#{activity["name"]}" }
          .activity__delete-from-calendar= link_to 'X', activity_path(activity["id"]), :method => :delete, :remote => true
          .card-image
            %img{alt: "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
          .card-header
            .user-activity__name
              %h5= activity["name"]
          .card-copy
            %h4 Venue:
            .user-activity__venue-name
              %h5= activity["venue_name"]
              %h6= activity["address_string"]

            %h4 When:
            .user-activity__date
              %h6= " #{activity["date"]} @ #{activity["time"].strip}"
            - unless "#{activity["description"]}".length == 0
              .user-activity__more-info
                %a{ id: "more-info" } More Information
                .activity__description.hidden
                  %p= activity["description"].lstrip
