- unless @activities.empty?
  .cards
    %h2= @activities[0]["category"]
    - @activities.each do |activity|
      - unless DateTime.now > Date.parse(activity["date"])
        .card.user-activity{ id: "#{activity["name"]}" }
          .activity__delete-from-calendar= link_to 'X', activity_path(activity["id"]), :method => :delete, :remote => true
          .card-image
            %img{alt: "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
          .card-header
            %h5.activity__name= activity["name"]
          .card-copy
            %h4 Venue:
            %h5= activity["venue_name"]
            %h6= activity["address_string"]

            %h4 When:
            %h6= " #{activity["date"]} @ #{activity["time"].strip}"

            - unless "#{activity["description"]}".length == 0
              .activity__more-info
                %a{ id: "more-info" } More Information
                %p.activity__description.hidden= activity["description"].lstrip
