- unless @activities.empty?
  - if DateTime.now < Date.parse(@activities[0]["date"])
    %h2= @activities[0]["category"].upcase
    .search-results
      - @activities.each do |activity|

        .search-results__activity{ id: "#{activity["name"]}" }

          %h3.activity__name= activity["name"]

          %h4.activity__venue-name--label Venue:
          %h5.activity__venue-name= activity["venue_name"]
          %h6.activity__location= activity["address_string"]

          %h4.activity__date-time--label When:
          %h6.activity__date-time= " #{activity["date"]} @ #{activity["time"].strip}"

          - unless "#{activity["description"]}".length == 0
            .activity__more-info
              %a{ id: "more-info" } More Information
              %p.activity__description.hidden= activity["description"].lstrip

          .save-to-calendar
            - if user_signed_in?
              %button.save-to-calendar__signed-in#save-activity{:href => "#", remote: :true} Save

            -else
              %button.save-to-calendar__disabled{:href => "#", disabled: "disabled"} Save
              %p.require-sign-in
                Want to save this event to your calender?
                %a{ href: "#" } Sign In
                or
                %a{ href: "#{new_user_registration_path}"} Sign Up
                for an account
  - else
    - flash.now[:notice] = "Sorry, but there were no results based on your search."
