%h2 Find Activities
.search-container
  .search-container__parameters
    %label Zip Code
    %input#search-location
    %label Search Radius
    %select#search-radius
      - ((5..100).step(5).to_a).each do |i|
        %option #{i}
    %select#search-date
      %option Today
      %option Tomorrow
      %option This Week
      %option Next Week
  .search-container__navigation
    %ul
      %li.query-item= link_to "Sports", '#'
      %li.query-item= link_to "Food & Wine", '#'
      %li.query-item= link_to "Movies & Films", '#'
      %li.query-item= link_to "Music", '#'
      %li.query-item= link_to "Art Galleries & Exhibits"
      %li.query-item= link_to "Museums & Attractions"
      %li.query-item= link_to "Performing Arts", '#'
      %li.query-item= link_to "Festivals", '#'
      %li.query-item= link_to "Neigborhood Activities", '#'
      %li.query-item= link_to "Nightlife & Singles", '#'
      %li.query-item= link_to "Comedy Shows", '#'
      %li.query-item= link_to "Various Meetups", '#'
      %li.query-item= link_to "Conferences", '#'
      %li.query-item= link_to "Outdoors & Recreation", '#'
      %li.query-item= link_to "Kids & Family", '#'
  .search-container__search-results#search-results
