%h2 Find Activities
.search-container
  .search-container__parameters
    %label Zip Code
    %input#search-location
    %label Search Radius
    %select#search-radius
      - ((5..100).step(5).to_a).each do |i|
        %option #{i}
    %select#search-date
      %option Today
      %option Tomorrow
      %option This Week
      %option Next Week
  .search-container__navigation
    %ul
      %li.query-item= link_to "Food", '#'
      %li.query-item= link_to "Sports", '#'
      %li.query-item= link_to "Out-To-The Movies", '#'
      %li.query-item= link_to "Various Meetups", '#'
      %li.query-item= link_to "Music", '#'
      %li.query-item= link_to "Cultural", '#'
      %li.query-item= link_to "Outdoors", '#'
  .search-container__search-results#search-results
