%header.header__navigation
  .navigation-wrapper
    .navigation__logo
      .logo.nav-link
        %h1= link_to "Not Bored Tonight", root_path
    .nav
      %ul#navigation-menu
        %li.browse-menu__query-item.nav-link
          = link_to "Sports", "#"
        %li.browse-menu__query-item.nav-link
          = link_to "Music", "#"
        %li.browse-menu__query-item.nav-link
          = link_to "Family", "#"
        %li.browse-menu__query-item.nav-link
          = link_to "Festivals", "#"
        %li.browse-menu__query-item.nav-link
          = link_to "More", activities_path
        - if signed_in?
          %li.nav-link.more.user
            %a #{@user.first_name}
            %ul.submenu
              %li
                = link_to "Dashboard", dashboard_path
              %li
                = link_to "Sign Out", destroy_user_session_path, method: :delete
              %li
                = link_to "Edit Profile", edit_user_registration_path
        - else
          %li.nav-link.user
            = link_to "Log In", new_user_session_path
