%header.header
  .header__logo
    %h1
      = link_to "Not Bored Tonight", root_path
  .header__navigation
    .navigation__browse-menu
      %ul
        %li= link_to "Find Activities", activities_path
    .navigation__search
      %select.search-box#search-box
        %option{:disabled => "disabled", :selected => "selected"} Select an Activity
        %option Music
        %option Sports
        %option Performing Arts
        %option Art Galleries & Exhibits
        %option Museums & Attractions
        %option Festivals
        %option Kids & Family
    .navigation__user-menu
      %ul
        - if signed_in?
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
          %li= link_to "Edit Profile", edit_user_registration_path
        - else
          %li= link_to "Log In", new_user_session_path
