!!!
%html
  %head
    %title Not Bored Tonight
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.header
      .header__logo
        %h1 Not Bored Tonight
      .header__navigation
        %ul
          - if signed_in?
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            %li= link_to "Edit Profile", edit_user_registration_path
          - else
            %li= link_to "Sign In", new_user_session_path
            %li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
            %li= link_to "Sign Up", new_user_registration_path

    %p.notice= notice
    %p.alert= alert

    = yield
