!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Not Bored Tonight
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    = render 'layouts/header'

    %p.notice= notice
    %p.alert= alert

    .wrapper-for-content-outside-of-footer
      .contents
        = yield
      .push

    = render 'layouts/footer'

    = javascript_include_tag "application"
